--index-url https://pypi.python.org/simple/
requests
unicodecsv
lazy
numpy==1.13.0
geopy
python-dateutil
dateparser
rdflib
six
spacy==1.9.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz
