--index-url https://pypi.python.org/simple/
requests
unicodecsv
numpy==1.14.1
geopy
python-dateutil
dateparser==0.6.0
rdflib
six
spacy==2.0.12
pyparsing==2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz
